//
   Created by Radek Dyrda on 17.11.2015.

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        block imports