//
   Created by Radek Dyrda on 17.11.2015.

extends commons

block content
    h1 Tanks
block imports
    script(src="https://cdn.socket.io/socket.io-1.2.0.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script(src='/public/bower_components/phaser/build/phaser.min.js')
    script(src='/public/js/EnemyPlayer.js')
    script(src='/public/js/game.js')
    script(src='/public/js/tanks.js')
