extends commons

block content
    form(name="signup", action="/signup", method="post")
          input(type="text", name="user")
          input(type="password", name="pass")
          input(type="submit", value="Sign up!")

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">